body{
    background: url("C:/Users/Raunak Baidh/Desktop/Practice/social-proof-section-master/social-proof-section-master/images/bg-pattern-top-desktop.svg"), url("C:/Users/Raunak Baidh/Desktop/Practice/social-proof-section-master/social-proof-section-master/images/bg-pattern-bottom-desktop.svg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 150%;
    font-family: Spartan;    
}
.titleText{
    display: block;
    width: 275px;
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
}
h1{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}
.titleText p{
    font-size: 18px;
    color: hsl(303, 10%, 53%);
}
.ratings{
    display:grid;
    margin-left: 100px;
}
#star1, #star2, #star3{
    background-color: hsl(300, 24%, 96%);
    max-width: 450px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px 0px 0px 50px;
}
#star2{
    margin-left: 50px;
}
#star3{
    margin-left: 100px;
}
div span{
    padding-left: 25px;
}
.reviews{
    display: inline-flex;
    margin: 0px 100px 100px 100px;
    height: 280px;
}
#colton, #irene, #anne{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 10px;
    padding: 40px 30px 30px 40px;
}
.reviews img{
    border-radius: 50%;
    width: 50px;

}
#irene{
    margin-top: 30px;
}
#anne{
    margin-top: 60px;
}
div #intro{
    line-height: 0%;
    position: relative;
    
}














/*
.reviews{
    display: inline-flex;
    height: fit-content;
    width: fit-content;
    text-align: justify;
    padding: 40px;
    margin: 10px;
    border: 10px;
}
div img{
    border-radius: 50%;
    float: left;
    height: 30px;
    margin-left: 50px;
    margin-top: 30px;
}
.reviews .colton{
    background-color: hsl(300, 43%, 22%);
    border-radius: 7.5px;
}
div #intro{
    text-align: center;
    line-height: 0.1%;
}
*/